<div class="form">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    {# Titre de l'annonce #}
    <div class="form-group">
        <div class="form-label bold">
            {{ form_label(form.title, "Titre de l'annonce") }}
            {{ form_errors(form.title) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.title, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    <br>
    
    {# Date de début #}
    <div class="form-group">
        <div class="form-label bold">
            {{ form_label(form.dateStart, "Date de début") }}
            {{ form_errors(form.dateStart) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.dateStart) }}
        </div>
    </div>
    
    {# Date de fin #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.dateEnd, "Date de fin") }}
            {{ form_errors(form.dateEnd) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.dateEnd) }}
        </div>
    </div>
    
    {# Heure de début #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.timeStart, "Heure de début") }}
            {{ form_errors(form.timeStart) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.timeStart) }}
        </div>
    </div>
    
    {# Heure de fin #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.timeEnd, "Heure de fin") }}
            {{ form_errors(form.timeEnd) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.timeEnd) }}
        </div>
    </div>
    
    {# Complément de date #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.dateComplement, "Complément de date") }}
            {{ form_errors(form.dateComplement) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.dateComplement, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    <br>
    
    {# Contenu #}
    <div class="form-group">
        <div class="form-label bold">
            {{ form_label(form.content, "Contenu") }}
            {{ form_errors(form.content) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.content, {'attr': {'class': 'form-widget text-area'}}) }}
        </div>
    </div>
    
    {# Lien #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.link, "Lien") }}
            {{ form_errors(form.link) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.link, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    {# Téléphone #}
    <div class="form-group">
        <div class="form-label bold">
            {{ form_label(form.phoneNumber, "Téléphone") }}
            {{ form_errors(form.phoneNumber) }}
        </div>
        
        <div class="form-field" style="width:150px;">
            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    {# Tarif #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.tariff, "Tarif (€)") }}
            {{ form_errors(form.tariff) }}
        </div>
        
        <div class="form-field" style="width:50px;">
            {{ form_widget(form.tariff, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    <br>
    
    {# Adresse #}
    <div class="form-group">
        <div class="form-label bold">
            {{ form_label(form.isAtWork, "Adresse de travail") }}
            {{ form_errors(form.isAtWork) }}
        </div>
        
        <div class="form-field" style="margin-top:5px;">
            {{ form_widget(form.isAtWork) }}
        </div>
    </div>
    
    <br>
    
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.address.address, "Autre adresse") }}
            {{ form_errors(form.address.address) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.address.address, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.address.addressComplement, "Complément d'aresse") }}
            {{ form_errors(form.address.addressComplement) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.address.addressComplement, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.address.postalCode, "Code postal") }}
            {{ form_errors(form.address.postalCode) }}
        </div>
        
        <div class="form-field" style="width:100px;">
            {{ form_widget(form.address.postalCode, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.address.city, "Ville") }}
            {{ form_errors(form.address.city) }}
        </div>
        
        <div class="form-field" style="width:200px;">
            {{ form_widget(form.address.city, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    <br>
    
    {# Image #}
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.image.url, "Image URL") }}
            {{ form_errors(form.image.url) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.image.url, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="form-label">
            {{ form_label(form.image.alt, "Image ALT") }}
            {{ form_errors(form.image.alt) }}
        </div>
        
        <div class="form-field">
            {{ form_widget(form.image.alt, {'attr': {'class': 'form-widget'}}) }}
        </div>
    </div>
    
    <br>
    
    {# Sauvegarder #}
    <div class="center">
        {{ form_widget(form.save, {'attr': {'class': 'btn-submit'}, 'label': 'Envoyer'}) }}
    </div>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>