{% extends "WebsiteBundle::layout.html.twig" %}



{% block website_title %}Access Bars{% endblock %}

{% block website_description %}d'Access Bars{% endblock %}

{% block access_bars %}style="background-color: rgb(253,172,83); color: rgb(128,51,0);"{% endblock %}


{% block website_h1 %}Access Bars<sup style="font-size: 0.5em;">®</sup>{% endblock %}

{% block website_body %}
    
    <div id="introduction_access">
        <aside>
            <a style class="medium" href="{{ asset('bundles/website/images/cabinet_2.jpg') }}"><img src="{{ asset('bundles/website/images/cabinet_2_medium.jpg') }}" alt="Image d'Access Bars" /></a>
            <a class="mini" href="{{ asset('bundles/website/images/cabinet_2.jpg') }}"><img src="{{ asset('bundles/website/images/cabinet_2_mini.jpg') }}" alt="Image d'Access Bars" /></a>
        </aside>

        <div>
            <p>Il existe <strong>32 points sur votre tête</strong> qui, légèrement stimulés, aident à relâcher facilement tout ce qui vous empêche de recevoir. Ces points contiennent toutes les idées, les croyances et les émotions que vous avez stockées antérieurement.</p>  

            <p><strong>Access Bars<sup style="font-size: 0.6em;">®</sup></strong> est un processus incroyablement relaxant, nourrissant et libérateur qui défait, sans effort, les limitations dans tous les aspects de votre vie et apportent des changements au niveau du sommeil, de la santé, de l’argent, des relations, la diminution de l’anxiété et du stress et plus encore.</p>
        </div>          
    </div>

    <p style="font-weight: bold">Combien de temps passez-vous à faire, plutôt que recevoir ? Trouvez vous que votre vie n’est pas tout à fait celle que vous désirez ? Vous pouvez avoir tout ce que vous souhaitez si vous êtes prêts à recevoir davantage et peut être même à faire un peu moins.</p>

    <p>En recevant et en apprenant les processus des Barres d’Accès, vous ouvrez la porte afin que tout ce que vous désirez se présente à vous ; <strong>plus de créativité, plus de conscience, de légèreté, de Joie, de possibilités</strong>.<br /><br /></p>
    
    <p><strong>Pour en savoir plus sur les séances que je propose <a href="{{ path('website_homepage') }}#seances"><em>cliquez ici !</em></a></strong></p>
    
    <p>Vous souhaitez en savoir plus sur Access Bars et ses outils, contactez-moi directement en <a href="{{ path('website_contact') }}#page_contact"><em>cliquant ici !</em></a></p>

{% endblock %}

{% block category %}Access Bars{% endblock %}
