<div>
    <article>
        <!-- Titre de l'annonce -->
        <div class="titre_fleche">
            <img src="{{ asset('bundles/website/images/fleche-droite-400x400.png') }}" alt="Flèche droite" />
            <h3>{{ advert.title }}</h3>
        </div>

        <!-- Date de l'annonce -->
        <p>
            <strong>
                {% if advert.toComeUp %}
                    DATE À VENIR...
                {% elseif advert.dateEnd is null %}
                    {{ advert.dateStart|localizeddate('full', 'none', null, null, 'cccc dd LLLL yyyy')|upper }}
                {% else %}
                    DU 
                    {% if advert.dateStart|date('m') == advert.dateEnd|date('m') %}
                        {{ advert.dateStart|date('d') }}
                    {% else %}
                        {{ advert.dateStart|localizeddate('full', 'none', null, null, 'dd LLLL')|upper }}
                    {% endif %}
                    {% if advert.dateStart|date('Y') != advert.dateEnd|date('Y') %}
                        {{ advert.dateStart|date('Y') }}
                    {% endif %}
                    AU 
                    {{ advert.dateEnd|localizeddate('long', 'none', null, null, 'dd LLLL yyyy')|upper }}
                {% endif %}

                {% if advert.timeStart is not null and advert.timeEnd is not null %} 
                    de {{ advert.timeStart|date('H\\hi') }} à {{ advert.timeEnd|date('H\\hi') }}
                {% endif %}
            </strong>

            {% if advert.dateComplement is not null %}
                {{ advert.dateComplement }}
            {% endif %}

            <br />

            {{ advert.content }}
            
            {% if advert.link is not null %}
                <p style="margin-top:-10px;">
                    <a class="link_gray"  href="{{ advert.link }}" title="{{ advert.link }}" target="_blank">En savoir plus</a>
                </p>
            {% endif %}
        </p>
            
        <!-- Tarif -->
        {% if advert.tariff is not null or advert.animatedBy is not null or advert.fonction is not null %}
            <p>
                {% if advert.tariff is not null %}
                    <strong>Prix : {{ advert.tariff }} €</strong>{% if advert.tariffReservation is not null %} ({{ advert.tariffReservation }} € à la réservation){% endif %}
                {% endif %}
                <br>
                {% if advert.animatedBy is not null or advert.fonction is not null %}
                    {% if advert.animatedBy is not null %}
                        Animé par {{ advert.animatedBy }}
                    {% endif %}
                    <br>
                    {% if advert.fonction is not null %}
                        {{ advert.fonction }}
                    {% endif %}
                {% endif %}
            </p>
        {% endif %}
        
        <!-- Adresse de l'annonce -->
        {% if advert.isAtWork or advert.address is not null %}
            <p>
                {% if advert.isAtWork %}
                    <strong>Adresse : </strong>
                    (<a href="{{ path('website_contact') }}#plan_cabinet">plan</a>)
                    <br />
                    1, rue Alauzet 34090 MONTPELLIER
                    <br />
                    Quartier Boutonnet (Tram 1 et 4 : arrêt Albert 1er)
                {% elseif advert.address is not null %}
                    <strong>Adresse : </strong>
                    <br>
                    {{ advert.address.address }}
                    {% if advert.address.addressComplement is not null %}
                        <br>
                        {{ advert.address.addressComplement }}
                    {% endif %}
                    <br>
                    {{ advert.address.postalCode }} {{ advert.address.city|upper }}
                {% endif %} 
            </p>
        {% endif %}
            
        <!-- Téléphone -->
        {% if advert.phoneNumber is not null %}
            <p><strong>Renseignements et inscriptions au <span class="nowrap">{{ advert.phoneNumber }}</span></strong></p>
        {% endif %}   
        
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="{{ path('admin_edit', {'id': advert.id}) }}" class="btn btn-default">
                    <img src="{{ asset('glyphicon/glyphicons-151-edit.png') }}" alt="glyphicon-edit">
                    Modifier l'annonce
                </a>

                <a href="{{ path('admin_delete', {'id': advert.id}) }}" class="btn btn-default">
                    <img src="{{ asset('glyphicon/glyphicons-17-bin.png') }}" alt="glyphicon-bin">
                    Supprimer l'annonce
                </a>
            </p>
        {% endif %}
            
    </article>

    {% if advert.image is not null %}
        <aside>
            <img width="130" height="180" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" />
        </aside>
    {% endif %}
    
</div>
