<div>
    <article>
        <!-- Titre de l'annonce -->
        <div class="titre_fleche">
            <img src="{{ asset('bundles/website/images/fleche-droite-400x400.png') }}" alt="Flèche droite" />
            <h3>{{ advert.title }}</h3>
        </div>

        <!-- Date de l'annonce -->
        <p>
            <strong>
                {% if advert.toComeUp %}
                    DATE À VENIR...
                {% elseif advert.dateEnd is null %}
                    {{ advert.dateStart|localizeddate('full', 'none')|upper }}
                {% else %}
                    DU {{ advert.dateStart|date('j') }} AU {{ advert.dateEnd|localizeddate('long', 'none')|upper }}
                {% endif %}

                {% if advert.timeStart is not null %} 
                    de {{ advert.timeStart|date('H') }}h à {{ advert.timeEnd|date('H') }}h
                {% endif %}
            </strong>

            {% if advert.dateComplement is not null %}
                {{ advert.dateComplement }}
            {% endif %}

            <br />

            {{ advert.content }}
        </p>

        <!-- Adresse de l'annonce -->
        <p>
            {% if advert.isAtWork %}
                <strong>Adresse : </strong>
                (<a href="{{ path('website_contact') }}#plan_cabinet">plan</a>)
                <br />
                1, rue Alauzet 34090 MONTPELLIER
                <br />
                Quartier Boutonnet (Tram 1 et 4 : arrêt Albert 1er)
            {% elseif advert.address is not null %}
                <strong>Adresse : </strong>
                <br>
                {{ advert.address.address }}
                {% if advert.address.addressComplement is not null %}
                    <br>
                    {{ advert.address.addressComplement }}
                {% endif %}
                <br>
                {{ advert.address.postalCode }} {{ advert.address.city|upper }}
            {% endif %} 
            {% if advert.link is not null %}
                <br>
                <a class="link_gray"  href="{{ advert.link }}" title="{{ advert.link }}" target="_blank">En savoir plus</a>
            {% endif %}
        </p>

        {% if advert.tariff is not null %}
            <p>Prix : {{ advert.tariff }} €</p>
        {% endif %}
        {% if advert.phoneNumber is not null %}
            <p>Renseignements et inscriptions au <span class="nowrap">{{ advert.phoneNumber }}</span></p>
        {% endif %}   
        
        <p>
            <a href="{{ path('admin_edit', {'id': advert.id}) }}" class="btn btn-default">
                <img src="{{ asset('glyphicon/glyphicons-151-edit.png') }}" alt="glyphicon-edit">
                Modifier l'annonce
            </a>

            <a href="{{ path('admin_delete', {'id': advert.id}) }}" class="btn btn-default">
                <img src="{{ asset('glyphicon/glyphicons-17-bin.png') }}" alt="glyphicon-bin">
                Supprimer l'annonce
            </a>
        </p>

    </article>

    {% if advert.image is not null %}
        <aside>
            <img width="130" height="180" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}" />
        </aside>
    {% endif %}
    
</div>
