{% extends "::layout.html.twig" %}



{% block title %}Contact - {{ parent() }}{% endblock %}

{% block description %}Pour en savoir plus sur les séances que je propose ou pour prendre un RDV contactez moi au 06 18 67 44 08 - Plan : 1 rue Alauzet 34090 MONTPELLIER.{% endblock %}

{% block contact %}style="background-color: rgb(253,172,83); color: rgb(128,51,0);"{% endblock %}



{% block body %}

    <h1 id="page_contact">Contact</h1> 
     
       
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Informations  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <div id="informations">
        <div>
            <p style="font-family:georgia,serif; font-size:1.2em;"><strong>Simone LALANDE</strong></p>

            <p style="font-size:0.9em;">Téléphone : <strong>06 18 67 44 08</strong><br />Email : <a href="mailto:simone.lalande1@gmail.com">simone.lalande1@gmail.com</a></p>

            <p><strong>Adresse : </strong><br />1 rue Alauzet 34090 MONTPELLIER<br />Quartier Boutonnet (Tram 1 et 4 : arrêt Albert 1er)</p>

            <p>Séances individuelles UNIQUEMENT SUR RENDEZ-VOUS</p>

            <p>Pour en savoir plus sur les séances que je propose <a href="{{ path('website_homepage') }}#seances"><em>cliquez ici !</em></a></p>
        </div>

        <aside>
            <img width="180" height="230" src="{{ asset('bundles/website/images/informations.png') }}" alt="Image d'information" />
        </aside>
    </div>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Plan  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section>
        <h2 id="plan_cabinet">Trouver le cabinet</h2>

        <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=1+rue+alauzet&amp;sll=46.75984,1.738281&amp;sspn=10.312236,19.753418&amp;num=10&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rue+Alauzet,+34090+Montpellier,+H%C3%A9rault,+Languedoc-Roussillon&amp;ll=43.617468,3.873732&amp;spn=0.005437,0.006866&amp;z=17&amp;iwloc=A" title="Afficher dans Google Map" target="_blank"><img id="plan" src="{{ asset('bundles/website/images/plan.JPG') }}" alt="Plan d'accès au cabinet à Montpellier" /></a>

    </section>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Formulaire de contact  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <!--
    <section>
        <h2>Formulaire de contact</h2>
        <p>En construction...</p>

    </section>
    -->


     <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - Liens  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <section id="liens">
        <h2>Liens partenaires</h2>

        <ul>
            <li><a href="http://www.qi-gong-montpellier.fr" title="www.qi-gong-montpellier.fr" target="_blank"><img src="{{ asset('bundles/website/images/languedoc-qi-gong.JPG') }}" alt="Languedoc Qi-Gong"/></a></li>
        </ul>
    </section>

{% endblock %}