{% extends "::layout.html.twig" %}



{% block title %}Évènements passés - {{ parent() }}{% endblock %}

{% block description %}{% endblock %}



{% block body %}
   
   <p>Pour voir les évènements à venir : <a href="{{ path('website_homepage') }}#actualites">cliquez ici !</a></p>
   
    <section id="actualites">
        {% set currentYear = null %}
        {% for advert in listAdverts %}
            {# On définit un variable year afin d'afficher le titre h2 seulement une fois pour toutes les annonces d'une année en cours #}
            {% set advertYear = advert.dateStart|date('Y') %}
            
            {% if advertYear != currentYear %}
                <h2>Évènements passés - {{ advert.dateStart|date('Y') }}</h2>
                {% set currentYear = advertYear %}
            {% endif %}
               
            {{ include("WebsiteBundle:Website:advert.html.twig") }}
        {% endfor %}
    </section>
    
    {# Barre de pagination #}
    <div class="navigation">
        {{ knp_pagination_render(listAdverts) }}
    </div>
    
    
{% endblock %}